* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Times, "Times New Roman", Georgia, serif;
    background-image: url("Almost.jpg");
}

.container {
    display: flex;
    flex-direction: column;
    margin: 150px;
}

#title {
    margin: 20px;
    font-size: 50px;
}

#subTitle {
    margin: 20px;
    font-size: 23px;
    color: #616161;
    text-align: center;
}

.bottom {
    background-color: #EEEEEE;
    padding: 80px;
    width: 50%;
    font-size: 30px;
    border-radius: 10px;
}

form input {
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: #EEEEEE;

}

form input:focus {
    outline: none;
    border-bottom-color: #ff5ac6;
    background-color: #e1e1e1;
}

#labelPassword {
    font-size: 22px;
}

form #password {
    padding: 10px;
    width: 400px;
    margin-top: 25px;
}
.eyeIcon {
    font-size: 22px;
    cursor: pointer;
}
.error-message {
    font-size: 15px;
    margin-top: 10px;
    /*color: #616161;*/
}